.trocaCart{
  width: 100%;   
}

.deleteItem{  
  color: #d4320e;  
  border: none;
  cursor: pointer; 
}

.addItem{  
  color: #04ba71;  
  border: none;
  cursor: pointer; 
}

.buttons-container{
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}



.deleteTrocaButton{
  background-color: #d4320e;
  color: #f5f2eb;
  cursor: pointer;
  font-size: 24px;
}

.goToRentarButton{
  background-color: #04ba71;
  color: #f5f2eb;
  cursor: pointer;
  font-size: 24px;
}

.deleteTrocaButton:hover{
  color: #d4320e;
  background-color: #f5f2eb;
  cursor: pointer;
  font-size: 24px;
}

.goToRentarButton:hover{
  color: #04ba71;
  background-color: #f5f2eb;
  cursor: pointer;
  font-size: 24px;
}