.trocaCart{
  width: 100%; 
  font-size: 12px;   
}

.deleteItem{  
  color: #d4320e;  
  border: none;
  cursor: pointer; 
}

.buttons-container{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}



.deleteTrocaButton{
  color: #d4320e;
  cursor: pointer;
}

.goToRentarButton{
  color: #04ba71;
  cursor: pointer;
}