.details {
  border: 2px solid;
  width: 70%;
  height: auto;
  background-color: var(--white);
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;  
  
  flex-direction: column;
  z-index: 1;
  text-align: center;
  font-size: 22px;  
  padding: 15px;
  box-sizing: border-box;
}

.details div {
  width: 100%;
}

.btn-close {
  width: auto;
  border: none;  
  color: var(--red-l);
  font-size: 18px;
  
}

.btn-close:hover{
  cursor: pointer;
  transform: rotate(45deg);
}

.btn-verde {
  width: auto;
  
  background-color: var(--green) ;
  color: var(--white);
  font-size: 18px;
}

.encabezado{
  display: flex;
  justify-content: space-between;
}