.pedidos-container{
    padding-top: 150px;        
    width: 100%;  
    display: flex;
    justify-content: center;  
}

.pedidos{
    width: 90%;
    height: 100%;
    padding: 20px;
    background-color: var(--white);
}

.cards-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.test td{
    height: 50px;
    
}