.rentarPage{
    width: 100%;    
}

.productsRentaContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}


.carrito{
    font-size: 50px;
    
}

.carrito:hover{
    font-size: 60px;
}

.en-la-troca{
    background-color: black;
    color: white;
    height: 100px;
}