@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');

:root {
  --white: #f5f2eb;
  --green: #04ba71;
  --black: #04454d;
  --yellow: #fdc827;

  --yellow-l: #fce41a;
  --yellow-m: #fbc326;
  --blue-l: #1d7d9e;
  --red-l: #d4320e;
  --orange-m: #dc7c15;
}

#root{
  width: 100%;
}

* {
  font-family: 'Libre Bodoni', serif;
  color: var(--black);
}

body {  
  background-color: var(--yellow);
  margin: 0;
  padding: 0;
}

@media (width > 400px) {
  div {
    width: 50%;
  }
}