.orden-compra{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.orden{
    width: 80%;
    box-sizing: border-box;
    padding: 15px;  
    background-color: #f5f2eb;
}

.dataclient-container{
    width: 100%;
    display: flex;
    flex-direction: column;    
}

.dataclient-container div{
    width: 100%;
    border-bottom: 1px solid;
}

.confirmar-renta{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;    
    font-size: 32px;
    background-color: #04ba71;
    color: #f5f2eb;
    border: 1px solid black;
}

.confirmar-renta:hover{    
    color: #04ba71;
    background-color: #f5f2eb;
    cursor: pointer;
}