.inventarioContainer {
  width: 80%;
  display: flex;  
  flex-direction: column;
  justify-content: center; 
  background-color: white;
}

.cardsContainer{
  width: 100%;
  padding: 15px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  border: solid black 1px;
  box-shadow: 5px 5px 0px rgba(1, 1, 1, 1);
  box-sizing: border-box;
  text-align: center;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardPart1 {  
  width: 100%;  
  height: 50%;
}

.cardPart2 {
  border-top: 1px solid black;
  width: 100%;
  height: 50%;
}

.qty {
  margin: 0;
  font-size: 28px;
}
